torch
torchvision
torchaudio
transformers
datasets
accelerate
ftfy
regex
git+https://github.com/openai/CLIP.git
faiss-cpu
opencv-python-headless
Pillow
openai-whisper
librosa
soundfile
jiwer
nltk
streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
tqdm
